// import variable less
@import (reference) "./variable.less";

// import base less
@import (reference) "./base.less";

.footer-wrapper {
    padding: 10px;
    text-align: center;
    font-size: 14px;
}