mixin postList(page)
  .post-list-wrapper
    each post in page.posts.toArray()
      article.article-item
        h2.article-title-wrapper
          if post.link
            a.title-link(href=post.link, target='_blank')
              !=post.title
          else
            - var rulRegex = /(\/index\.html?$)|(\/?$)/;
            - var path = post.path.replace(rulRegex, '');
            a.title-link(href=url_for(path), target='_blank')
              !=post.title
        .article-meta
          p.meta-item.meta-time
            span.meta-item-title 发表于: 
            !=date(post.date, config.date_format)
          p.meta-item.meta-category
            - post.categoriesArray = post.categories.toArray()
            if Array.isArray(post.categoriesArray) && post.categoriesArray.length > 0
              span.meta-item-title 分类于: 
              each category, index in post.categoriesArray
                a.category-link(href=url_for(category.path), target="_blank")
                  !=category.name
                if post.categoriesArray.length > 1 && index < post.categoriesArray.length - 1
                  span.category-line  , 
        if(theme.excerpt)
          .article-excerpt
            !=post.excerpt
