
- var pageTitle = page.title || config.title || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    title= pageTitle
    link(rel="stylesheet", href='/css/layout.css')
    each url in theme.stylesheets
      link(rel='stylesheet', href=url)
    link(rel="icon", href='/favicon.png')
  body
    header.base-menu
      include ../includes/menu.jade
    .base-content
      #content-inner
        if body
          div!= body
        else
          block content
    footer.base-footer
      include ../includes/footer.jade
